.step-content{
    width: 70%;
    margin: 10px auto;
    .checkbox-item {
        display: flex;
        height: 80px;

    }
    .step-sub-title {
        margin-bottom: 10px;
        display: block;
    }
}

